params {
    tpm_file     = "${launchDir}/toy_example/smoke_test_data/toy_tpm.tsv"
    counts_file  = "${launchDir}/toy_example/smoke_test_data/toy_counts.tsv"
    sdrf_url     = "file://${launchDir}/toy_example/smoke_test_data/E-GEUV-1.sdrf.txt"
    plink_prefix = "/gpfs/data/mostafavilab/sool/analysis/GeneExpression/20260106_0_test_GREML/geno_chr22_keep"
    grm_prefix   = "genotype_grm"
    peer_nk      = 1
    gcta_path    = "/gpfs/data/mostafavilab/programs/GCTA/gcta-1.95.0-linux-kernel-3-x86_64/squashfs-root/AppRun"
    outdir       = "${launchDir}/toy_example/results"
}

process {
    executor = "local"
    beforeScript = "module load anaconda3/gpu/new; source activate r_peer"
}

workDir = "${launchDir}/toy_example/work"
cleanup = false
